
body {
  font-family: 'Montserrat', sans-serif;
}

h1, nav {
  font-family: 'Cabin Condensed', sans-serif;
}

a.active.nav-link {
  background-color: rgb(22,107,161);
  text-decoration: underline;
}

section.splash {
  height: 100vh;
}

h1.splash--title {
  margin: 10rem auto;
  font-size: 3rem;
  text-align: center;
}

h2 {
  text-align: center;
}

img.experience--logo {
  margin: auto auto;
  display: block;
  min-height:50px;
  min-width:175px;
  max-width: 250px;
}

div.content--container {
  padding: 1rem 1rem;
  box-shadow: #757575bd 1px 1px 1px;
}

div.icon--container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

div.icon--container>div>img{
  max-width: 75px;
  max-height: 75px;
  padding: 0 5px;
}

div.logo>p {
  text-align: center;
}

a.contact--icon>i {
  font-size: 1.6rem;
  padding-right: .2rem;
}

li>a.contact--icon>i {
  font-size: 1.7rem;
  vertical-align: text-bottom;
  padding-top: 1.2rem;
}

li>a.contact__footer--icon>i {
  font-size: 3rem;
  vertical-align: text-bottom;
  padding: 0 .4rem;
}

li>a.contact--icon {
  padding-right: .2rem;
}

.photo-cred {
  font-size: .8rem;
  text-align: center;
}

.tab-header{
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

footer {
  height:15vh;
  background: rgb(22,107,161, .2);
  padding: 1rem 0 1rem 0;
  text-align: center;
}

footer > ul {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
}

/* img.modal-img{
  max-width:250px;
  height: auto;
} */


/* large screen queries------------------------------------------- */
@media screen and (min-width: 1000px) {
  a.brand-logo {
    margin-left: 1rem;
  }

  h1.splash--title {
    font-size: 4rem;
  }

  li>a.contact--icon>i {
    font-size: 3rem;
    padding: .2rem .8rem;
  }

  a.contact--icon>i {
    font-size: 3rem;
    padding: 1rem;
  }

  div.card-image>img {
    min-height: 160px;
    height: auto;
  }

  footer {
    height: 20vh;
  }
}

@media screen and (min-width: 1080px) {
  img.experience--logo {
    min-height:50px;
    min-width:175px;
    max-width: 350px;
    padding-top: .5rem;
  }

  div.icon--container>div>img{
    max-width: 125px;
    max-height: 125px;
    padding: 0 5px;
  }

}

