
body {
  font-family: 'Montserrat', sans-serif;
}

h1, nav {
  font-family: 'Cabin Condensed', sans-serif;
}

a.active.nav-link {
  background-color: rgb(22,107,161);
  text-decoration: underline;
}

h1.splash--title {
  margin: 7rem auto;
  font-size: 3rem;
  text-align: center;
}

h2 {
  text-align: center;
}

div.content--container {
    /* padding: 1rem 1rem; */
    box-shadow: #757575bd 1px 1px 1px;
}


.about--container .flex-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

p.content__section--copy{
    padding: 1.3rem 0 0 2rem;
}

div.center--flex{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

/* icons and image ---------------------------------------------------------------------- */
div.icon--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
img.portrait-img {
    margin-right: -.75rem;
    display: block;
    min-height:50px;
    min-width:175px;
    max-width: 250px;
}

img.experience--logo {
    margin: auto auto;
    display: block;
    min-height:50px;
    min-width:175px;
    max-width: 250px;
}

div.icon--container>div>img{
  max-width: 75px;
  max-height: 75px;
  padding: 0 5px;
}

.devicon-github-original-wordmark.colored,
.devicon-github-original.colored,
.devicon-github-plain-wordmark.colored,
.devicon-github-plain.colored {
    color: rgb(4,152,236)
}
div.logo>p {
  text-align: center;
}

a.contact--icon>i {
  font-size: 1.6rem;
  padding-right: .2rem;
}

li>a.contact--icon>i {
  font-size: 1.7rem;
  vertical-align: text-bottom;
  padding-top: 1.2rem;
}

li>a.contact__footer--icon>i {
  font-size: 3rem;
  vertical-align: text-bottom;
  padding: 0 .4rem;
}

li>a.contact--icon {
  padding-right: .2rem;
}

.photo-cred {
  font-size: .8rem;
  text-align: center;
}

a.btn {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}
/* footer---------------------------------------------------------------------- */
footer {
  height:15vh;
  background: rgb(22,107,161, .2);
  padding: 1rem 0 1rem 0;
  text-align: center;
}

footer > ul {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
}

/* Start override materialize tab colors------------------------------------- */
.tab-header{
  margin-bottom: 1rem;
}

.tabs {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 48px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  white-space: nowrap;
}

.tabs.tabs-transparent {
  background-color: transparent;
}

.tabs.tabs-transparent .tab a,
.tabs.tabs-transparent .tab.disabled a,
.tabs.tabs-transparent .tab.disabled a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.tabs.tabs-transparent .tab a:hover,
.tabs.tabs-transparent .tab a.active {
  color: #fff;
}

.tabs.tabs-transparent .indicator {
  background-color: #fff;
}

.tabs.tabs-fixed-width {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tabs.tabs-fixed-width .tab {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.tabs .tab a {
  color: rgb(22,107,161);
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: color .28s ease, background-color .28s ease;
  transition: color .28s ease, background-color .28s ease;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(38, 53, 255, 0.2);
  outline: none;
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: rgb(22,107,161);
}

.tabs .tab.disabled a,
.tabs .tab.disabled a:hover {
  color: rgb(22,107,161);
  cursor: default;
}

.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: rgb(22,107,161);
  will-change: left, right;
}


/* large screen queries------------------------------------------- */
@media screen and (min-width: 600px) {
    div.about--container {
        display: flex;
    }
}

@media screen and (min-width: 1000px) {
  a.btn {
    margin-bottom: 2rem;
  }

  a.brand-logo {
    margin-left: 1rem;
  }

  h1.splash--title {
    font-size: 4rem;
  }

  li>a.contact--icon>i {
    font-size: 3rem;
    padding: .2rem .8rem;
  }

  a.contact--icon>i {
    font-size: 3rem;
    padding: 1rem;
    max-height: 64px;
  }
  a.contact--icon {
      max-height: 64px;
  }

 div.card.portfolio-card {
    height: 40px;
 }

  div.card-image>img {
    min-height: 120px;
    max-height: 120px;
    width: auto;
  }

  footer {
    height: 20vh;
  }


}


@media screen and (min-width: 1080px) {
  img.experience--logo {
    min-height:50px;
    min-width:175px;
    max-width: 350px;
    padding-top: .5rem;
  }

  div.icon--container>div>img{
    max-width: 125px;
    max-height: 125px;
    padding: 0 5px;
  }

}

